html, body {
    height: 100%;
    min-height: 100%;
    background-color: #F5F5F5;
}

div.login {
    background: url('../images/bg-login.png') fixed;
    background-size: cover;
}

.fl {
    float: left;
    float: left !important;
}

.fr {
    float: right;
    float: right !important;
}

.txt-center {
    text-align: center;
}

.ofh {
    overflow: hidden;
}

.light-blue-bg {
    background-color: #EBFAFF;
}

.light-pink-bg {
    background-color: #FFEFF5;
}

.footer-blue-bg {
    background-color: #29ABE2;
}

.foot-pink-bg {
    background-color: #FF7392;
}

.footer-pink-bg {
    background-color: #FE8398;
}

.dp-blk {
    display: block;
    display: block !important;
}

#logo {
    width: 180px;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}

.center-cell {
    display: table-cell;
    vertical-align: middle;
}

p.form-title {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
}

.slider {
    height: 100%;
}

.pd-b60 {
    padding-bottom: 60px;
}

form {
    margin: 0 auto;
    width: 250px;
}


    form.login input[type="text"], form.login input[type="password"] {
        opacity: 0.8;
        border: 1px solid #B0B6BE;
        background: rgba(213,215,222,0.9);
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0;
        margin-bottom: 5px;
        outline: 0;
        outline: 0;
        padding: 5px 10px;
        width: 100%;
        padding: 10px 16px;
    }

.round-input {
    border-radius: 15px;
    -webkit-border-radius: 15px;
}

.forget-pwd {
    margin-top: 8px;
    font-size: 14px;
}

.btn-blue {
    background-color: #29ABE2;
    border-color: #17A1DB;
    color: white;
}

    .btn-blue:hover, .btn-blue:focus {
        color: white;
        background-color: #36A3D1;
    }

.btn-purple {
    background-color: #B887FF;
    border-color: #A96EFF;
    color: white;
}

    .btn-purple:hover, .btn-purple:focus {
        color: white;
        background-color: #A771F7;
    }

form.login input[type="submit"] {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 8px;
    outline: 0;
    text-transform: uppercase;
    width: 100%;
}

/*form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}*/

form.login .remember-forgot {
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
}

.remember-forgot .checkbox input {
    margin-top: -2px;
}


form.login .forgot-pass-content {
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 20px;
}

.forgot-pw-content {
    text-align: right;
}

form.login label, form.login a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
}

form.login a {
    transition: color 0.5s ease;
}

    form.login a:hover {
        color: #2ecc71;
    }

.pr-wrap {
    display: none;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.show-pass-reset {
    display: block !important;
}

.pass-reset {
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 22%;
    padding: 20px 15px;
    position: relative;
    width: 250px;
    z-index: 999;
}

    .pass-reset label {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .pass-reset input[type="email"] {
        background: 0;
        border: 0;
        border-bottom: 1px solid #000000;
        color: #000000;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 5px 0 0 0;
        margin-bottom: 5px;
        outline: 0;
        outline: 0;
        padding: 5px 10px;
        width: 100%;
    }

    .pass-reset input[type="submit"] {
        border: 0;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: 10px;
        outline: 0;
        text-transform: uppercase;
        width: 100%;
    }

        .pass-reset input[type="submit"]:hover {
            transition: background-color 0.5s ease;
        }

.posted-by {
    background-color: rgba(0, 0, 0, 0.66);
    bottom: 26px;
    color: #FFF;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    right: 0;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    position: relative;
    background-color: #F5F5F5;
}

#top, .top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #4D4D4D;
    /*z-index: 1;*/
}

.light-pink {
    background-color: #FAEBFF;
}

.path {
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    color: #4D4D4D;
}

.purple-font {
    color: #87009E !important;
}

.ft-size36 {
    font-size: 36px;
}

#top .title, .top .title {
    padding: 35px 20px;
    color: #4D4D4D;
    font-size: 20px;
}

#top img, .top img {
    margin-top: 20px;
}

.content {
    display: table;
    padding-top: 90px;
    height: 100%;
    width: 100%;
}

.bar-footer {
    font-size: 20px;
    color: white;
    padding: 0;
    height: auto;
}

.total-run {
    text-align: right;
    margin: 0 8px 10px 0;
}

.footer-detail {
    padding: 25px 15px;
    width: 100%;
}

.header {
    transition: background-color 0.5s ease;
}

.bg-purple {
    background-color: #A36CC1;
    background-color: #A36CC1 !important;
}

.font-dark-purple {
    color: #4D226D;
    color: #4D226D !important;
}

.footer-caption {
    margin-right: 10px;
    color: #4D226D;
}

/*circliful*/

.circliful {
    position: relative;
}

.circle-text {
    color: #87009E;
}

.cal .circle-text {
    color: #C11000;
}

.cal .footer-caption {
    color: #7F0A00;
}


.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
    text-align: right;
    color: #4D4D4D;
    font-size: 26px;
}

.circliful .fa {
    margin: -10px 3px 0 3px;
    position: relative;
    bottom: 4px;
}

.circlestat {
    margin: 0 auto;
    margin-bottom: 40px;
}

.head-round-img {
    border-radius: 50%;
    width: 30px;
}

/*end of circliful*/

.user-info {
    display: inline-block;
    text-align: left;
}

.sidebar-left {
    background: #383e4b;
    padding: 10px;
}

.sidebar-left-content {
    padding: 10px;
}

.bg-side-bar {
    background: #383e4b;
}

.sidebar-left .title {
    color: #fff;
    font-size: 20px;
}

.sidebar-left-content .search {
    background: #2d323d;
    color: #fff;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 4px 6px;
    line-height: 20px;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    width: 100%;
}

.sidebar-left-content .item, .sidebar-left-content .item > .icon {
    color: white;
    background-color: transparent;
    border: none;
    left: 3px;
}

.scroll {
    height: 100%;
}

.has-footer {
    bottom: 70px;
}

.walk-path {
    width: 100%;
    height: 100%;
    background: url("../images/walk-path.png") no-repeat center center fixed;
    background-size: cover;
}

.ribbon-content {
    width: 100%;
    height: 100%;
    background: url("../images/ribbon-content.png") no-repeat center center fixed;
    background-size: cover;
}

.setting-content {
    width: 100%;
    height: 100%;
    background: url("../images/setting-content.png") no-repeat center center fixed;
    background-size: cover;
}

.profile-content {
    width: 100%;
    height: 100%;
    background: url("../images/profile-content.png") no-repeat center center fixed;
    background-size: cover;
}

.friends-content {
    width: 100%;
    height: 100%;
    background: url("../images/friends-content.png") no-repeat center center fixed;
    background-size: cover;
}

.moment-content {
    width: 100%;
    height: 100%;
    background: url("../images/moment-content.png") no-repeat center center fixed;
    background-size: cover;
}

.messages-content {
    width: 100%;
    height: 100%;
    background: url("../images/message-content.png") no-repeat center center fixed;
    background-size: cover;
}

.my-community-content {
    width: 100%;
    height: 100%;
    background: url("../images/my-community-contenth.png") no-repeat center center fixed;
    background-size: cover;
}

.dashboard-content {
    width: 100%;
    height: 100%;
    background: url("../images/dashboard-content.png") no-repeat center center fixed;
    background-size: cover;
}


form.login a.register-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

    form.login a.register-link:hover {
        color: white;
    }

.bar.bar-energized .title {
    left: 0 !important;
    right: 0 !important;
}

.bar-energized .button:active {
    opacity: 0.5;
}

.cover-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background-color: #A36CC1;
    color: white;
}

.walk-path-icon {
    width: 24px;
    margin-bottom: -5px;
    margin-right: 2px;
}

.no-hover-effect:hover, .no-hover-effect:focus {
    color: #23527c;
    text-decoration: none;
}

.btn-menu {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 47px;
    height: 47px;
}
