#login-field {
	text-align: center!important;
	min-height: 430px;
	
}
#login-field fieldset{
	 min-height: 10em;
	 display: inline;
	vertical-align: middle;
}
#login-field input{
	display: inline;
	background-color: #fff;
	height: 50px;
	 border-radius: 10px;
	color: #a46ac3!important;
	font-weight: bold!important;
	font-size:18px!important;
}
#login-field button {
	display: inline;
	width: 150px;
	height: 40px;
   vertical-align: middle;
   float: none;
    border-radius: 20px!important;
}
#login-bg {
	 /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 99;

	  /* Pull the background 70px higher to the same place as #bg's */
	background-position: center -70px;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}