<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content drag-content="false">
        <ion-header-bar>
            <div class="bar bar-header header" ng-class="headerClass">
                <button class="button button-icon icon ion-navicon" ng-click="toggleLeftSideMenu()"></button>
                <div class="h1 title">Header Buttons</div>
                <button class="button button-clear button-positive">
                    <div>
                        <img src="images/head-photo.jpg" class="head-round-img" />
                    </div>
                </button>
            </div>
        </ion-header-bar>
        <ion-content>
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide class="pedometer">
                    <div class="top ofh light-pink">
                        <div class="title fl">Steps</div>
                        <div class="fl">
                            <img src="images/ic_footprint.png" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="center-cell pd-b60">
                            <div class="circlestat"
                                 data-text="{{step}}" data-info="Stps" ng-init="initCircliful($event);init();"></div>
                        </div>
                    </div>
                    <ion-footer-bar class="dp-blk">
                        <div>
                            <div class="total-run purple-font"><a class="no-hover-effect" href="#/walk-path"><img class="walk-path-icon" src="images/walk-path-con.png" /><span class="purple-font" ng-bind="distance"></span></a></div>
                            <div class="footer-detail bg-purple">
                                <span class="footer-caption">Todays Goal:</span>
                                <span>12000 S</span>
                            </div>
                        </div>
                    </ion-footer-bar>
                </ion-slide>
                <ion-slide class="cal">
                    <div class="top ofh light-pink-bg">
                        <div class="title fl">Calories</div>
                        <div class="fl">
                            <img src="images/fork.png" />
                        </div>
                    </div>
                    <div class="content">
                        <div class="center-cell pd-b60">
                            <div class="circlestat"data-text="{{kCal}}" data-info="kCal"></div>
                        </div>
                    </div>
                    <ion-footer-bar class="dp-blk">
                        <div>
                            <div class="total-run">Just eaten <span class="ion-plus-circled ft-size36"></span></div>
                            <div class="footer-detail footer-pink-bg">
                                <span class="footer-caption">Todays Limit:</span>
                                <span>500 kCals</span>
                            </div>
                        </div>
                    </ion-footer-bar>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left" class="sidebar-left">
        <ion-header-bar ng-class="headerClass">
            <h1 class="title">UQ Trek</h1>
        </ion-header-bar>
        <ion-content class="sidebar-left-content">
            <div class="list">
                <a class="item item-icon-left" href="#/dashboard">
                    <i class="icon ion-podium"></i>
                    Dashboard
                </a>
                <a class="item item-icon-left" href="#/ribbon">
                    <i class="icon ion-trophy"></i>
                    Ribbons
                </a>
                <a class="item item-icon-left" href="#/moment">
                    <i class="icon ion-social-instagram"></i>
                    Moment
                </a>
                <a class="item item-icon-left" href="#/messages">
                    <i class="icon ion-chatbubble-working"></i>
                    Messages
                </a>
                <a class="item item-icon-left" href="#/friends">
                    <i class="icon ion-android-happy"></i>
                    Friends
                </a>
                <a class="item item-icon-left" href="#/my-community">
                    <i class="icon ion-android-contacts"></i>
                    Teams
                </a>
                <a class="item item-icon-left" href="#/profile">
                    <i class="icon ion-android-person"></i>
                    My Profile
                </a>
                <a class="item item-icon-left" href="#/setting">
                    <i class="icon ion-gear-a"></i>
                    Settings
                </a>
                <a class="item item-icon-left" ng-click="exitApp();">
                    <i class="icon ion-log-out"></i>
                    Sign Out
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>